MDEXEC                      charmm                                          #charmm executable
MDINP                       Molecules/otf_clap/otf.inp                           #MD input file
MDOUT                       /dev/shm/otf_clap_opt.log                                #MD run output
QMOUT                       Molecules/otf_clap/otf.log                           #QM reference
PARAM_FILENAME              FF_GenOpt_results/otf_clap/parameters.str            #Write parameters here, they will be read by MDINP
POPULATION_FILENAME         FF_GenOpt_results/otf_clap/lastPopulation_otf_clap.txt
LOG_FILENAME                FF_GenOpt_results/otf_clap/convergence_otf_clap.log

GENERATIONS                 10000           #Number of generations to be created
POPULATION_SIZE             200             #Size of population
MUTATIONS_PER_GENERATION    50              #Crossovers and mutations per generation
STEP_SIZE                   0.05            #Maximum step size for random algorithm
CROSSOVER_BLX               0.7             #Probability of choosing BLX method... has to sum up to 1
CROSSOVER_SBX               0.25            #Probability of choosing SBX method... has to sum up to 1
CROSSOVER_UNIFORM           0.05            #Probability of choosing uniform crossover... has to sum up to 1
MINIMUM_IMPROVEMENT         0.0001          #Minimum improvement to continue random algorithm direction in percent
MINIMUM_DIVERSITY           0.0001          #Minimum population diversity before a new initial population is created

#------------------------------------------------
#         name  type        min     max     val
#------------------------------------------------
PARAMETER otfb1 bond 0 1000 441.6
PARAMETER otfb2 bond 0 1000 232.9
PARAMETER otfb3 bond 0 1000 636.6
PARAMETER otfa1 angle 0 200 103.90
PARAMETER otfa2 angle 0 200 115.72
PARAMETER otfa3 angle 0 200 93.27
PARAMETER otfa4 angle 0 200 82.88
PARAMETER otfd1 dihedral -20 20 0.173
