EXTERN                      False                                          #False: use OpenMM for MD freqs, True: use MDEXEC
MDEXEC                      python3                                        #charmm executable
PSF                         Molecules/oac/acet_omm_pol.psf                          # MD PSF file
CRD                         Molecules/oac/mp2_dz.cor                   # MD crd file
PARAMS                      Molecules/oac/ff.str                       # MD parameters
VARFILE                     Molecules/oac/var.str       # parameterfiles with variables
MDINP                       Molecules/oac/freq.py                    #MD input file
MDOUT                       Molecules/oac/drude_oac.out                    #MD run output
QMOUT                       /site/raid2/student1/jonny/qm_revision/mp2_dz/oac_mp2_dz.out             #QM reference
QMFACTOR                    0.957                                          # QM Frequency scaling factor
PARAM_FILENAME              FF_GenOpt_results/oac/parameters.str            #Write parameters here, they will be read by MDINP
POPULATION_FILENAME         FF_GenOpt_results/oac/lastPopulation_oac.txt
LOG_FILENAME                FF_GenOpt_results/oac/convergence_oac.log

GENERATIONS                 100             #Number of generations to be created
POPULATION_SIZE             200             #Size of population
MUTATIONS_PER_GENERATION    50              #Crossovers and mutations per generation
STEP_SIZE                   0.05            #Maximum step size for random algorithm
CROSSOVER_BLX               0.7             #Probability of choosing BLX method... has to sum up to 1
CROSSOVER_SBX               0.25            #Probability of choosing SBX method... has to sum up to 1
CROSSOVER_UNIFORM           0.05            #Probability of choosing uniform crossover... has to sum up to 1
MINIMUM_IMPROVEMENT         0.0001          #Minimum improvement to continue random algorithm direction in percent
MINIMUM_DIVERSITY           0.0001          #Minimum population diversity before a new initial population is created

#------------------------------------------------
#         name  type        min     max     val
#------------------------------------------------
PARAMETER acetb1 bond 100 1000 200.0
PARAMETER acetb2 bond 50 500 525.00
PARAMETER acetb3 bond 150 1500 322.0
PARAMETER aceta1 angle 20 200 40.00
PARAMETER aceta2 angle 20 200 100.0
PARAMETER aceta3 angle 20 200 33.0
PARAMETER aceta4 angle 20 200 35.50
